@keyframes pulse {
    0% {transform: scale(.95); color: white; color: black;}
    25% {transform: scale(1.05); color: white; color: black;}
    40% {transform: scale(.95); color: white; color: black;}
    60% {transform: scale(1.05); color: white; color: black;}
    100% {transform: scale(.95); color: white; color: black;}}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;}
iframe {
    flex: 1;
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    scroll-behavior: auto;}
button {
    margin: 0;
    padding: 1px 6px; 
    flex: 1;
    font-family: inherit;
    font-weight: normal;
    border: 2px outset "ButtonFace"; 
    cursor: pointer;
    background-color: "ButtonFace";
    color: "ButtonText";}
button:disabled {
    opacity: 1;
    border: 0;
    font-family: inherit;
    font-weight: normal;
    background-color: black;
    color: aliceblue;
    cursor: default;}
div {
    margin: 10px;
    padding: 0;}
p {
    margin: 0;
    padding: 0;}
h1 {
    margin: 0;
    padding: 0;}
h2 {
    margin: 0;
    padding: 0;}
h3 {
    margin: 0;
    padding: 0 10px 0 10px;}
ul {
    margin: 0;
    padding: 10px 0 0 0;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-align: center;
    line-height: 1;}
li {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: inline-block;
    line-height: 1;}
img {
    margin: 0;
    padding: 0;
    width: 307px;
    height: 180px;}
audio {
    width: 100%;
    min-width: 400px;}
.img-square {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 180px;}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;}
.container-2 img {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100h;
    object-fit: fill;}
.container-3 img {
    margin: 0;
    padding: 0;
    width: 33.33%;
    height: 100h;
    object-fit: fill;}
.bm {
    margin: 0;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;}
.bn {
    margin: 0;
    padding: 0  10px 10px 10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;}
.b {
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;}
.b .l {
    text-align: left;}
.b .r {
    text-align: right;}
